@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  background: white;
  color: white;
  overflow-x: hidden;
  font-family: Inter, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.section-padding {
  @apply px-6 md:px-12 lg:px-20;
}

.hero-text {
  font-size: clamp(3rem, 10vw, 10rem);
  line-height: 0.9;
  font-weight: 800;
}
